[run]
omit =
    venv/**
    */tests/**
    setup.py

[report]
precision = 2
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    if settings\.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[xml]
output = _build/coverage/coverage.xml

[html]
title = pyngrok Coverage Report
directory = _build/coverage