name: "CI/CD"

on:
  push:
    branches:
      - "**"
  pull_request:
    branches: [ main, develop ]
  schedule:
    - cron: "0 9 * * *"


jobs:
  build:
    name: Build

    env:
      NGROK_AUTHTOKEN: ${{ secrets.NGROK_AUTHTOKEN }}

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        python-version: [ 3.11 ]
        include:
          - python-version: "3.5"
            os: ubuntu-20.04
          - python-version: "3.7"
            os: ubuntu-latest
          - python-version: "3.9"
            os: ubuntu-latest
          - python-version: "3.10"
            os: ubuntu-latest
          - python-version: "3.11"
            os: ubuntu-latest
          - python-version: "pypy-3.7"
            os: ubuntu-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run:
          make install
      - name: Run tests
        run: |
          make test local
        shell: bash
      - name: Upload coverage
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.11'
        uses: codecov/codecov-action@v3
        with:
          directory: ./_build/coverage
